* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.left {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.left input {
    height: 53px;
    width: 276px;
    padding: 0px 75px;

}

.left button {
    margin: 12px 0;
    height: 30px;
    width: 72px;
    cursor: pointer;
}

.right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    height: 250px;
}